.vuecal__event.primary {
    background-color: #f57da9;
    border: 1px solid rgb(226, 123, 184);
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.vuecal__event.secondary {
    background-color: rgb(138, 136, 136);
    border: 1px solid rgb(192, 191, 192);
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vuecal__event.allowance {
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #acacac 10px, #acacac 20px);
    color: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vuecal__event.allowance .vuecal__event-time {display: none;align-items: center;}


.vuecal__cell-content:has(.vuecal__cell-events-count) {
    background-color: rgb(62 201 114/0.2); /* Change this to your desired background color */
}

/* Dash indicator */
.vuecal__cell-events-count {
    width: 18px;
    height: 4px;
    color: transparent;
    background-color: green;
  }

  
.vuecal__event-time {
    font-size: 12px;
    font-weight: bold;
}


.vuecal__menu {
    background-color: #f57da9;
    color: #fff;
}

.vuecal__title-bar {
    background-color: #f9f4f4;
    color: #f57da9;
    border: 1px solid rgb(235, 185, 215);
}



/* .vuecal__cell-split.booth1 {
    background-color: rgba(255, 232, 251, 0.379);
} */

.vuecal__time-cell {
    background-color: #f573a3;
}

/* .vuecal__flex .vuecal__weekdays-headings{
    padding-left: 65px;
} */

.vuecal__time-column {
    width: 65px;
}

.vuecal__time-cell-label {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.vuecal__now-line {
    display: none;
}

/* .day-split-header.booth1 {
    background-color: rgba(255, 232, 251, 0.5);
} */

.vuecal__cell-content {
    border: .25px solid rgb(238, 218, 230);
}

.vuecal__flex > .vuecal__cell-content {
    border-bottom: 5px solid rgb(238, 218, 230);
}

.vuecal__time-cell-line:before {
    border-color: rgb(235, 185, 215);
    border-style: solid;
    border-width: 1px;
}

.vuecal__cell--today {
    color:  rgb(222, 85, 170);
    /* pointer-events: none;
    z-index: 0;
    background: #ffffff; */
}

.vuecal__arrow{
    z-index: 0;
}

.vuecal__no-event{
    display: none;
}

/* .vuecal__cell--today.vuecal__cell--selected {
    color:  rgb(222, 85, 170); 
     background-color: rgba(246, 2    37, 242, 0.797);
} */

.vuecal__cell--selected {
    /* background-color: #fff; */
    border: 1px solid #f573a3;
    z-index: 0;
}

.vuecal__flex.vuecal__weekdays-headings{
    border-left: 1px solid rgb(235, 185, 215);
    border-right: 1px solid rgb(235, 185, 215);
}

.responsive {
    width: 100%;
    max-width: 1400px;
}

@media (max-width: 320px) {
    .responsive {
        height: 400px;
    }
}

@media (min-width: 321px) and (max-width: 475px) {
    .responsive {
        height: 500px;
    }
}

@media (min-width: 475px) and (max-width: 768px) {
    .responsive {
        height: 550px;
    }
}

@media (min-width: 769px) {
    .responsive {
        height: 655px;
    }
}