.vuecal__event.primary {
    background-color: rgba(19, 132, 198, 0.899);
    border: 1px solid rgba(0, 86, 120, 0.899);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vuecal__event-time {
    color: #fff;
    display: none;
}

.vuecal__event.primary.timeallowance {
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #f2f2f2 10px, #f2f2f2 20px); /* IE 10+ */
    color: #999;
}

.vuecal__menu {background-color:   rgb(222,85,170); color: #fff}

.vuecal__title-bar {background-color: rgb(226,123,184); color: #fff}

.vuecal__cell-events-count  {background-color:  rgb(226,123,184); color: #fff}

.vuecal__cell-split.booth1 {background-color:rgba(255, 232, 251, 0.5);}

.vuecal__cell-split.booth2 {background-color:rgba(255, 255, 255, 0.5);}