.vuecal__event.primary {
    background-color: rgb(222, 85, 170);
    border: 1px solid rgb(226, 123, 184);
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vuecal__event-time {
    display: none;
}

.vuecal__event.primary.timeallowance {
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #f2f2f2 10px,
        #f2f2f2 20px
    ); /* IE 10+ */
    color: #999;
}

.vuecal__menu {
    background-color: rgb(222, 85, 170);
    color: #fff;
}

.vuecal__title-bar {
    background-color: rgb(226, 123, 184);
    color: #fff;
}

.vuecal__cell-events-count {
    background-color: rgb(226, 123, 184);
    color: #fff;    
}

.vuecal__cell-split.booth1 {
    background-color: rgba(255, 232, 251, 0.379);
}

.vuecal__time-cell {
    background-color: rgb(222, 85, 170);
}

.vuecal__flex .vuecal__weekdays-headings{
    padding-left: 65px;
}

.vuecal__time-column {
    width: 65px;
}

.vuecal__time-cell-label {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.vuecal__now-line {
    display: none;
}

.day-split-header.booth1 {
    background-color: rgba(255, 232, 251, 0.5);
}

.vuecal__cell-content {
    border: 1px solid rgb(235, 185, 215);
}

.vuecal__flex > .vuecal__cell-content {
    border-bottom: 5px solid rgb(228, 166, 203);
}

.vuecal__time-cell-line:before {
    border-color: rgb(235, 185, 215);
    border-style: solid;
    border-width: 1px;
}

.vuecal__cell--today {
    background-color: #fff;
    color:  rgb(222, 85, 170);
    pointer-events: none;
}

.vuecal__cell--today.vuecal__cell--selected {
    color:  rgb(222, 85, 170);
    background-color: rgba(246, 237, 242, 0.797);
}

.vuecal__cell--selected {
    background-color: #fff;
    border: 1px solid rgb(222, 85, 170);
}

.vuecal__flex.vuecal__weekdays-headings{
    border-left: 1px solid rgb(235, 185, 215);
    border-right: 1px solid rgb(235, 185, 215);
}


/* LOGIN */

.background-blur {
    background: rgba( 255, 255, 255, 0.4 );
    backdrop-filter: blur( 2px );
}

/* TOAST */

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.toast-enter-active {
    animation: slideIn 0.5s forwards;
}

.toast-leave-active {
    animation: fadeOut 1s forwards;
}