

/* LOGIN */

.background-blur {
    background: rgba( 255, 255, 255, 0.4 );
    backdrop-filter: blur( 2px );
}

/* TOAST */

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.toast-enter-active {
    animation: slideIn 0.5s forwards;
}

.toast-leave-active {
    animation: fadeOut 1s forwards;
}

.toast-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between toasts */
}

/* CIRCLE CHECK - CONFIRMATION PAGE */


.container {
    width: 300px;
    margin: 50px auto;
}

.svg-success {
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 300px;
    opacity: 1;
    overflow: visible;
}

@keyframes success-tick {
    0% {
        stroke-dashoffset: 16px;
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 31px;
        opacity: 1;
    }
}

@keyframes success-circle-outline {
    0% {
        stroke-dashoffset: 72px;
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 0px;
        opacity: 1;
    }
}

@keyframes success-circle-fill {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.svg-success .success-tick {
    fill: none;
    stroke-width: 1px;
    stroke: #ffffff;
    stroke-dasharray: 15px, 15px;
    stroke-dashoffset: -14px;
    animation: success-tick 450ms ease 1400ms forwards;
    opacity: 0;
}

.svg-success .success-circle-outline {
    fill: none;
    stroke-width: 1px;
    stroke: #81c038;
    stroke-dasharray: 72px, 72px;
    stroke-dashoffset: 72px;
    animation: success-circle-outline 300ms ease-in-out 800ms forwards;
    opacity: 0;
}

.svg-success .success-circle-fill {
    fill: #81c038;
    stroke: none;
    opacity: 0;
    animation: success-circle-fill 300ms ease-out 1100ms forwards;
}

/* Can't animate stroke-dashoffset on IE 10 and 11, just show svg instead */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .svg-success .success-tick {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        opacity: 1;
    }

    .svg-success .success-circle-outline {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: none;
        opacity: 1;
    }

    .svg-success .success-circle-fill {
        animation: none;
        opacity: 1;
    }
}


/* PACKAGES */

.pkg-shadow{
    box-shadow: 10px 10px 4px -4px rgba(201,201,201,1);
}

/* SWIPER */

/* Custom Swiper Pagination Styles */
.swiper-pagination-bullet {
    background-color: #333333; /* Change this to your desired color */
}

.swiper-pagination-bullet-active {
    background-color: #f57da9; /* Change this to your desired active color */
}

.swiper-button-next, .swiper-button-prev {
    color: #f57da9;
}